body{
	text-align: justify;
}

.slideshow .menu-wrap {
    background-color: #0099cc;
}

.leaf  :hover {
    background-color: #F0FFFF;
 }


.block-social-media-links-social-media-links{
	float: right;
}

.credits{
	display:none;
}

.flex-direction-nav a{
	height: 52px;
}

.cup{
	height: 30px;
	width: 30px;
	background-size: 30px 30px;
	background-image:url('../images/cup.ico');
	float: left;
}
.star{
	height: 30px;
	width: 30px;
	background-size: 30px 30px;
	background-image:url('../images/star.ico');
	float: left;
}
.check{
	height: 30px;
	width: 30px;
	background-size: 30px 30px;
	background-image:url('../images/check.ico');
	float: left;
}

.form-item.webform-component{
    width: 50%;
    float: left;
}

.form-item.webform-component textarea{
	resize: none;
}

.webform-component-textarea .grippie,
.form-item.webform-component input[type=text],
.form-item.webform-component input[type=email],
.form-item.webform-component textarea,
.form-item.webform-component select#edit-submitted-experiencia-profesional-experiencia{
	width: 80%;
}

#first-time{
	display: none;
}

#block-social-media-links-social-media-links,
#block-block-10{
	float: right;
}

#block-block-10{
	margin-top: 8px;
}

.form-actions{
	 width: 50%;
}

.view-noticias-full-view .view-content .views-row,
.view-noticias .view-content .views-row{
    width: 30%;
    display: inline-block;
}

.view-noticias .view-content .views-row-odd{
	margin: 0 2% 0 2%;
}

.view-noticias .view-content .views-row-1{
	margin: 0 2% 0 0;
}

.view-noticias .view-content .views-row-2{
	margin: 0 2% 0 2%;
}

.view-noticias .view-content .views-row-3{
	margin: 0 0 0 2%;
}

.single-donation-form.donation-form{
	width: 200px;
}

.single-donation-form.donation-form h3{
	text-align: center;
}

.single-donation-form.donation-form .column{
	margin: 0;
    list-style: none;
}

.donation-amount + label{
	display: inline;
}

.donation-submit-button{
	height: 36px;
    width: 183px;
    display: block;
    text-align: center;
    background-color: #602770;
    color: #FFFFFF;
    font-size: 20px;
}

@media only screen and (max-width: 640px) {
	.single-donation-form.donation-form{
		width: 100%;
		text-align: center;
	}

	.donation-submit-button{
		margin: 0 auto;
	}

	.form-item.webform-component{
	    width: 100%;
	    float: left;
	}

	.block > h2{
		text-align: center;
	}

	.view-noticias-full-view .view-content .views-row,
	.view-noticias .view-content .views-row{
	    width: 60%;
	    margin: 0 20% 0 20%;
	    display: block;
	}

	.view-noticias-full-view .view-content .views-row .views-field-field-fotos .field-content a img,
	.view-noticias .view-content .views-row .views-field-field-fotos .field-content a img{
		width: 100%;
	}

	#block-social-media-links-social-media-links, #block-block-10{
		float: none;
	}

	#site-title{
		vertical-align: middle;
	}
}